<!DOCTYPE html>
<html>
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ROSSO VALENTINO</title>
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
	<script type="text/javascript" src="/src/assets/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="/src/assets/js/lib/pre-loader.js"></script>
	<script type="text/javascript" src="/src/assets/js/lib/swiper.min.js"></script>
	<script type="text/javascript" src="/src/assets/js/rem.js"></script>
	<script type="text/javascript" src="/src/assets/js/common.js"></script>
	<!--<script type="text/javascript" src="/src/assets/js/wxshare.js"></script>-->
	<script type="text/javascript" src="/src/assets/js/api.js"></script>
	<script type="text/javascript" src="/src/assets/js/home.js"></script>
</head>
<body class="page-home">
<div class="wrapper">
	<div class="container animate">
		<div class="pin pin-1">
			<div class="logo">
				<img src="/src/images/logo.jpg" alt=""/>
			</div>
			<div class="product-wrap">
				<!-- Swiper -->
				<div id="swiper-products">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<!-- swiper content-->
							<div class="swiper-slide">
								<img src="/src/images/product-1.png" alt=""/>
							</div>
							<div class="swiper-slide">
								<img src="/src/images/product-1.png" alt=""/>
							</div>
							<div class="swiper-slide">
								<img src="/src/images/product-1.png" alt=""/>
							</div>
						</div>
					</div>
					<!-- If we need navigation buttons -->
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
				<div class="product-name">红色SPIKE铆钉链条包</div>
				<div class="product-price">¥ 11,000</div>
			</div>
			<div class="btn btn-buy"><span>即刻购买</span></div>
			<div class="gorosso">探索ROSSO VALENTINO系列</div>
		</div>
		<!--form page-->
		<div class="pin pin-2 current">
			<div class="logo">
				<img src="/src/images/logo.jpg" alt=""/>
			</div>
			<div class="product-block">
				<div class="product-img"><img src="/src/images/product-1.png" alt=""/></div>
				<div class="product-name">红色SPIKE铆钉链条包</div>
				<div class="product-num">x1</div>
				<div class="product-price">¥ 11,000</div>
			</div>
			<form id="form-contact">
				<h2 class="title">请完善收货信息</h2>
				<div class="form-information">
					<div class="input-box input-box-title">
						<select name="title" id="input-title">
							<option value="">称谓</option>
							<option value="先生">先生</option>
							<option value="女士">女士</option>
						</select>
						<input type="text" id="input-name" placeholder="姓名"/>
					</div>
					<div class="input-box input-box-mobile">
						<input type="tel" maxlength="11" id="input-mobile" placeholder="联系电话"/>
					</div>
					<div class="input-box input-box-mail">
						<input type="text" id="input-mail" placeholder="电子邮箱"/>
					</div>
					<div class="input-box input-box-address">
						<select name="province" id="input-province">
							<option value="">省份</option>
						</select>
						<select name="city" id="input-city">
							<option value="">城市</option>
						</select>
					</div>
					<div class="input-box input-box-address-details">
						<input type="text" name="address-details" id="input-address-details" placeholder="具体地址"/>
					</div>
					<div class="input-box input-checkbox">
						<input type="checkbox" name="receive" id="input-receive"/>
						<label for="input-receive">我已阅读并接受<a href="http://www.baidu.com">隐私政策</a></label>
					</div>
				</div>
				<div class="btn btn-submit"><span>提交</span></div>
			</form>

		</div>

	</div>
</div>



</body>


</html>
