<!DOCTYPE html>
<html>
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ROSSO VALENTINO</title>
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="dist/css/style.css" />
	<script type="text/javascript" src="assets/js/lib/zepto.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/pre-loader.js"></script>
	<script type="text/javascript" src="assets/js/rem.js"></script>
	<script type="text/javascript" src="assets/js/common.js"></script>
	<script type="text/javascript" src="assets/js/wxshare.js"></script>
	<script type="text/javascript" src="assets/js/api.js"></script>
	<script type="text/javascript" src="assets/js/card.js"></script>
</head>
<body class="page-home">
<div class="wrapper">
	<div class="container animate">
		<!-- the landing part-->
		<div class="pin pin-1">
			<div class="logo animate fadeindown">
				<img src="dist/images/logo.png" alt="louis Xiii"/>
			</div>
			<div class="v-content animate fade delay1">
				<div class="bg-layer">
					<div class="bl bg-light">
						<div class="light-mask"></div>
					</div>
					<div class="bl bg-1">
						<img src="dist/images/a3.png" alt=""/>
						<div class="bl bg-2"></div>
					</div>
				</div>
			</div>
			<div class="tips animate fade delay2">
				<span class="icon"><img	src="dist/images/icon-direction.png"></span>
				<img src="dist/images/p1-t1.png" alt=""/>
			</div>
			<div class="p1-t2 animate">
				<img src="dist/images/p1-t2.png" alt=""/>
			</div>
			<div class="showproduct">
				<img src="dist/images/product.jpg" alt=""/>
			</div>
		</div>
		<!-- the card part-->
		<div class="pin pin-2 pin-bg2">
			<div class="flush-bg">
				<span class="item item-1"></span>
				<span class="item item-2"></span>
				<span class="item item-3"></span>
				<span class="item item-4"></span>
			</div>
			<div class="letter-wrap v-content">
				<div class="letter-header">
					<input type="text" id="input-name-1"/>
				</div>
				<div class="letter-content">
					<!--FURLA全新系列带着我最深刻的祝福，-->
					<!--用绽放的星芒，-->
					<!--为您装点一个绚烂的惊喜。-->
					<textarea name="l-content" id="l-content"  cols="30" rows="3" wrap="hard" maxlength="60"></textarea>
					<!--<div contenteditable="true" class="test" style="font-size: 0.26rem;line-height: 2">敬爱的</div>-->
				</div>
				<div class="letter-bottom">
					<input type="text" id="input-name-2"/>
				</div>
				<div class="btn btn-postcard"><span>生成我的祝福</span></div>
			</div>
		</div>
	</div>
</div>



</body>


</html>
